/*Properties:font-family, background-color, border, font-size, cursor, color, border-btlr, text-align, outline, margin-btlr, outline-style, text-shadow, padding, letter-spacing, border-btlr-color, background-image, background-size, text-indent, text-decoration, word-spacing, */

/*What I learned from others: There is something called a "div" thingy that you have to add to the html to do stuff in the css. If you upload a gif file to the border, it will play the gif and make a lot of chaos(which I will definetly enjoy)*/

/*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/

html {
	/*1*/font-family:"Comic Sans MS";
	/*2*/background-color:#777;
	/*3*/border: 9
cm solid black;
	/*4*/font-size: 90%;
	/*5*/cursor: not-allowed;
}

body {
	background-color: green;
	border: 3px dotted #239;
}

h1 {
	/*6*/color:red;
	/*7*/border-bottom: thick dotted black;
	background-color: white;
	/*8*/text-align: center;
}

h2 {	
	background-color: #777;
	color: white;
	/*9*/outline: solid thin #0f0;
	border-top: 4px dotted black;
	/*10*/margin-right: 15cm;
}

h3 {
	background-color: salmon;
	margin-left: 120px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 40px;
	font-family: arial;
	outline: gray 10px;
	/*19*/outline-style: inset;
	/*11*/text-shadow: 2px 2px #999;
}

h4 {
	margin-right: 5cm;
	background-color: #777;
	font-size: 150%;
	outline: dotted thin #408;
	border: 50px;
	-webkit-border-image: url(http://i0.kym-cdn.com/entries/icons/facebook/000/013/564/aP2dv.jpg);
	/*12*/padding: 40px;
}
	
h5 {
	/*13*/letter-spacing: 5px;
	background-color: #39ff14;
	border: 40px solid black;
	/*14*/border-left-color: #777777;
	border-right-color: #777;
	text-align: center;
}

h6 {
	background-color: #777;
	font-family: helvetica;
	font-size: 1in;
	border: 5px dotted yellow;
	padding: 40px;
	text-align: center;
	/*15*/background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Choco_chip_cookie.jpg");
	/*16*/background-size: 45px 50px;
}

p {
	outline: #00ff00 dotted thin;
	font-size: 150%;
	/*17*/text-indent: 50px;
}

i {
	font-size: 90%;
	text-shadow: 2px 4px #777;
	/*20*/text-decoration: underline;
}
footer {
	color: white;
	border: 20pt solid salmon;
	/*18*/word-spacing: -3px;
	font-family: fantasy;
}
