html {
	font-family:Comic Sans MS;
	background-color:#777;
	border: 9px solid black;
	font-size: 90%;
	cursor: not-allowed;
}

body {
	background-color: green;
	border: 3px dotted #239;
}

h1 {
	color:red;
	border-bottom: thick dotted black;
	background-color: white;
	text-align: center;
}

h2 {	
	background-color: #777;
	color: white;
	outline: solid thin #0f0;
	border-top: 4px dotted black;
}

h3 {
	background-color: salmon;
	margin-left: 80px;
	margin-right: 100px;
	margin-top: 50px;
	margin: bottom: 40px
	font-family: arial;
	text-shadow: 2px 2px #999;
}

h4 {
	background-color: #777;
	direction: rtl;
	outline: dotted thin #408;
}
	
h5 {
	background-color: #39ff14;
	border: 40px solid black;
	border-left-color: #777777;
	border-right-color: #777;
	text-align: center;
}

h6 {
	background-color: #777;
	font-family: helvetica;
	font-size: 40px;
	border: 5px dotted yellow;
	padding: 10px;
	text-align: center
}
